.searchPage__logo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 20px  30px;
    border-bottom: 1px solid lightgray;
}

/* UNSET FROM ORIGINAL TO GET RESPONSIVE SEARCH BAR ON THE PAGE */

.searchPage__headerBody>.search>.search__input {
    margin-top: 0;
    margin: unset;
    width: unset;
    max-width: unset;
}

.searchPage__options {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 30px;
    margin-left: 20px;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
    display: flex;

}

.searchPage__options a,
.searchPage__optionsRight a {
    text-decoration: none;
    color: gray;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__options a {
    margin-left: 5px;
}

.searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
    margin-bottom: 20px;
}

.searchPage__results {
    max-width: 650px;
    /* margin: 0 auto;
margin-top: 20px; */
    margin: 20px 0 200px 250px;
}

.search__resultTitle {
    text-decoration: none;
}

.search__resultTitle:hover {
    text-decoration: underline;
}

.search__resultTitle > h2 {
    font-weight: 400;
}


.search__resultSnippet {
    margin-top: 5px;
    margin-bottom: 20px;
}

.search__resultSubTitle {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    color: grey;
}

.search__resultSubTitle  {
    text-decoration: none;
}

.searchPage__resultImage {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    object-fit: contain;
    border-radius: 100%;
}

.searchPage__headerRight {
    display: flex;
    align-items: center;
    /* min-width: 13vw; */
    justify-content: flex-end;
    /* background-color: red; */
    width: 100%;
    margin-top: 5px;
}



.searchPage__headerRight>.MuiSvgIcon-root {
    margin-right: 20px;
}


.searchPage__headerRight a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.searchPage__headerRight a:hover {
    text-decoration: underline;
}